
.banner{
  background-image: url("../images/bg_home_mobile.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .solgan{
    height: 100vh;

    .textArea{
      padding-top: 85px;
      padding-bottom: 85px;
    }
  }

  .angle{
    width: 10px;
    height: 10px;
  }
}

.features{
background-color: $gray-600;

.subtitle::after{
  content: "";
  background-color: $primary;
  width: 50px;
  height: 3px;
  position: absolute;
  bottom:-7px;

}

.item{
  &:hover{
    border:1px $primary solid;
    border-radius: 12px;
    background-color: $gray-700;
  }
}
}

.process{
  background-color: $gray-800;
}