.text-white {
    color: $white;
}

.text-gray-300{
    color:$gray-300;
}

.bg-gradient {
    background: linear-gradient(104deg, #09ACF5, #62DB54);
}

.bg-white{
    color:$white;
}

.text-gradient {
    background: linear-gradient(#09ACF5, #62DB54);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 48px;
    color: transparent;
}